.fa-google-plus-g {
  color: #f5622a;
}

.fa-facebook-square {
  color: #284894;
}

.fa-twitter {
  color: #599fff;
}

body {
  background: #444;
}

.card {
  overflow: hidden;
  margin: 100px auto;
  width: 1050px;
  border: 0;
}
.card__row {
  margin: 0;
}
.card__inner {
  padding: 80px 40px 20px 40px;
}

.card__title {
  width: 372px;
  background: #fff;
  border: 0;
}

.card__title h1 {
  font-weight: normal;
}

.card__title p {
  font-size: 12px;
  color: grey;
}

.card__buttons .card__button {
  margin: 10px 0;
  padding: 18px;
  text-align: center;
  border: 1px solid #e5e5e5;
  text-transform: uppercase;
  color: grey;
  box-shadow: none;
  transition: box-shadow 500ms;
}

.card__buttons .card__button h5 {
  font-size: 12px;
  color: #909090;
  font-weight: 600;
  transition: 0.5s;
}

.card__buttons .card__button:hover {
  -webkit-box-shadow: 0px 3px 23px 0px #a5a5a5;
  -moz-box-shadow: 0px 3px 23px 0px #a5a5a5;
  box-shadow: 0px 3px 23px 0px #a5a5a5;
}

.card__buttons .card__button:hover h5 {
  color: #000;
}

.card__additional {
  margin-top: 60px;
  background: #fff;
  border: 0;
}

.card__additional p {
  float: left;
  font-size: 12px;
  font-weight: 600;
}

.card__additional a {
  float: right;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  color: grey;
  transition: 0.3s;
}

.card__additional a:hover {
  color: #000;
  text-decoration: none;
}

.card__side {
  display: block;
  background-image: url("img/side.jpg");
  background-size: cover;
  background-position: center center;
}

@media only screen and (max-width: 768px) {
  .registration__wall {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  .card__additional {
    text-align: center;
  }

  .card__additional p {
    display: none;
  }

  .card__additional a {
    float: none;
    margin-left: 15px;
  }
}
